body {
  background-image: url(./img.jpg);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  background: rgba(255,255,255,0.9);
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  border: 13px solid #bdc3c7;
  padding: 20px;
}

h4 {
  color: steelblue;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

h2 {
  color: #0E0D26;
}

p {
  font-size: 14px;
}

.indent {
  border-left: 4px solid darkgray;
  padding-left: 5px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
